{% import "_includes/forms" as forms %}

<p>
	Note: These settings are for your agency or software developer. 
	Generally, as a user of the site, you will not need to edit this screen.
</p>
<p>
	Paste the widget code from the <a href="https://app.besnappy.com/#widget">Snappy widget screen</a>.
</p>
{{ forms.textareaField({
    id: 'sc_widget_code',
    name: 'sc_widget_code',
    value: settings.sc_widget_code,
    autofocus: true,
	rows: 10,
    errors: settings.getErrors('sc_widget_code')
}) }}
<p>
	You can find all the details on configuring the widgets title, colors, and more 
	here: <a href="https://help.besnappy.com/administrator-guide#widget-864">https://help.besnappy.com/administrator-guide#widget-864</a>
</p>	

